@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full w-full;
  @apply antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

/* Hide scrollbar but allow scrolling */
.scroll-container {
  overflow: hidden; /* Hide scrollbar */
  /* Allow scrolling with content */
  overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

/* Hide scrollbar but keep scrolling */
.scroll-container {
  overflow: scroll; /* Enable scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

/* Hide scrollbar but allow scrolling */
.scroll-container {
  position: relative;
  overflow: auto; /* Enable scrolling */
}

.scroll-container::-webkit-scrollbar {
  width: 0; /* Hide scrollbar width */
  background: transparent; /* Transparent background */
}

.scroll-container {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

/* CustomScrollContainer.css */
/* Hide scrollbar but allow scrolling */
.scroll-container {
  position: relative;
  overflow: auto; /* Enable scrolling */
}

.scroll-container::-webkit-scrollbar {
  width: 0; /* Hide scrollbar width */
  background: transparent; /* Transparent background */
}

.scroll-container {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

.ag-theme-alpine {
  --ag-header-background-color: #f1f3f5;
  --ag-odd-row-background-color: #f8f9fa;
  --ag-border-color: #dee2e6;
}

.ag-theme-alpine .ag-header-cell {
  font-weight: bold;
  color: #495057;
}

.ag-theme-alpine .ag-cell {
  padding: 10px;
  font-size: 14px;
}


tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}


.center {
  @apply flex justify-center items-center;
}